<!-- Header -->

<div class="row shift-top">

	<div class="span4">
			<p class="logo" ng-click="go('/products')">
				<span class="entypo heart"></span> Store
			</p>
	</div>

	<div class="span4">
	
		<p class="strapline">
			The finest quality stylish tees<br />
			<span>Made with love here in the US</span>
		</p>
	
	</div>

	<div class="span4">
		
		<div class="row">
			
			<div class="span2 offset2 mini-basket">
				
				<p class="mini-basket-title"><a href="#/basket"><span class="entypo cart"></span> Basket</a></p>
				
				<div class="row">
					
					<div class="span1">
						<p class="mini-basket-summary">
							Price<br />
							<span>&dollar;{{cartPrice() | number:2}}</span>
						</p>
					</div>
				
					<div class="span1">
						<p class="mini-basket-summary">
							Items<br />
							<span>{{cartTotal()}}</span>
						</p>
					</div>
				
				</div>
				
			</div>
		
		</div>
		
	</div>

</div>